*.class

#package file

*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file

*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db










codeStyles
inspectionProfiles
sonarlint
$PRODUCT_WORKSPACE_FILE$
.gitignore
.name
compiler.xml
designpattern.iml
encodings.xml
misc.xml
sonarIssues.xml
vcs.xml
workspace.xml
.idea
